*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 400px;
}
.slide{
    min-width: 100%;
    animation: slideAnimation 20s infinite;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover center;
}
@keyframes slideAnimation {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    95% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}

.category, .featured, .review{
    padding: 20px 20px 20px 20px;
}

.category h2, .featured h2, .trending h2, .review h2{
    font-size: 24px;
    margin:20px;
    padding: 10px;
    border-left: 10px solid blue;
}
.categories{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
}
.category-item{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.category-item img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
}

.category-item:hover{
    transform: scale(1.1);
}

.products a{
    color: black;
    text-decoration: none;
}

.products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:left;
    gap: 30px;
    padding: 10px 163px;
}

.product-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.3;
    padding: 10px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgb(124, 124, 124);
    transition: transform 0.3s ease;
}

.product-item:hover{
    transform: scale(1.1);
}

.product-item img{
    border-radius: 5px 5px 0 0 ;
    height: 80%;
    width: 100%;
}

.product-item i{
    color: orange;
}

.banner a img{
    width: 100%;
    height:500px;
    padding: 20px 0;
}

.features{
    display: flex;
    margin: 20px 180px 30px 180px;
    justify-content: center;
    align-items: center ;
    background-color: #d2dafd;
}

.feature-card{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    border-right: 1px solid black;
}

.feature-card:hover{
    color: blue;
}

.feature-card i{
    font-size: 20px;
}

.trending-products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 30px;
    padding: 20px 163px;
}

.trending-products .product-item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0;
}

.trending-products .product-item{
    padding: 0;
    border: none;
}

.reviews{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 150px;
    gap: 100px;
}

.review-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 190px;
    justify-content: space-between;
    padding: 20px;
    background-color: #e5eaff;
    border-radius: 10px;
    cursor:default;
    transition:ease 0.3s ;
}

.review-card:hover{
    transform: scale(1.1);
}

.review-card p{
    font-size: 14px;
}

.review-card .ratting i{
    color: orange;
}

.reviews .review-card img{
    width: 100px;
    height: 50%;
    border-radius: 100%;
}

#scrollBtn {
  display: none;      
  position: fixed;   
  bottom: 20px;     
  right: 30px;   
  z-index: 99;  
  border: none;
  outline: none;
  background-color: hwb(238 27% 0%);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
  font-size: 16px;
  rotate: 270deg;
}

#scrollBtn:hover {
  background-color: blue;
}

html {
  scroll-behavior: smooth;
}
